# change biomass adjustment

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.getcwd()

'/Users/yongjia/Desktop/workstation/chickpea/2023_chickpea_field_trials/gwas_merredin_SPmeasurement'

In [30]:
df=pd.read_excel("Exp1,2 and 3 raw data.xlsx",
                 sheet_name='Exp1_raw data',header=0)
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x) ## remove hiden spaces
df.head(2)

,Exp1SampleNo,Tub,Treatment,Rep,RUN,Row,Column,MnID,Northam ID,sowRL_Plt1,...,Change in RL_Plt3,Mean Change in RL,Shoot dry wt,Root dry wt,No of plants,Stdry/plt,Rtdry/plt,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,1,1,Control,1,1,1,1,36,24030,38.0,...,239.0,225.5,0.289,0.138,2.0,0.1445,0.0690,NaN,NaN,NaN
1,2,1,Control,1,1,1,2,80,3002,17.0,...,NaN,189.5,0.290,0.203,2.0,0.1450,0.1015,NaN,NaN,NaN

In [31]:
df.columns

Index(['Exp1SampleNo', 'Tub', 'Treatment', 'Rep', 'RUN', 'Row', 'Column',
       'MnID', 'Northam ID', 'sowRL_Plt1', 'sowRL_Plt2', 'sowRL_Plt3',
       'harvestRL_Plt1', 'harvestRL_Plt2', 'harvestRL_Plt3',
       'Change in RL_Plt1', 'Change in RL_Plt2', 'Change in RL_Plt3',
       'Mean Change in RL', 'Shoot dry wt', 'Root dry wt', 'No of plants',
       'Stdry/plt', 'Rtdry/plt', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26'],
      dtype='object')

In [32]:
COLs = ['Treatment', 'Northam ID', 'Rep', 'sowRL_Plt1', 'sowRL_Plt2', 'sowRL_Plt3',
       'harvestRL_Plt1', 'harvestRL_Plt2', 'harvestRL_Plt3',
       'Change in RL_Plt1', 'Change in RL_Plt2', 'Change in RL_Plt3',
       'Mean Change in RL', 'Shoot dry wt', 'Root dry wt', 'No of plants',
       'Stdry/plt', 'Rtdry/plt']
df_short = df[COLs]
df_short.columns = ['Treatment', 'NorthamID', 'Rep', 'sowRL_Plt1', 'sowRL_Plt2', 'sowRL_Plt3',
       'harvestRL_Plt1', 'harvestRL_Plt2', 'harvestRL_Plt3',
       'ChangeRL_Plt1', 'ChangeRL_Plt2', 'ChangeRL_Plt3',
       'ChangeRL_mean', 'Stdry', 'Rtdry', 'Noplants',
       'Stdry_perP', 'Rtdry_perP']
df_short.head(2)

,Treatment,NorthamID,Rep,sowRL_Plt1,sowRL_Plt2,sowRL_Plt3,harvestRL_Plt1,harvestRL_Plt2,harvestRL_Plt3,ChangeRL_Plt1,ChangeRL_Plt2,ChangeRL_Plt3,ChangeRL_mean,Stdry,Rtdry,Noplants,Stdry_perP,Rtdry_perP
0,Control,24030,1,38.0,34,21,250,NaN,260,212.0,NaN,239.0,225.5,0.289,0.138,2.0,0.1445,0.0690
1,Control,3002,1,17.0,34,21,210,220,NaN,193.0,186.0,NaN,189.5,0.290,0.203,2.0,0.1450,0.1015

In [33]:
## convert data columns to numeric values
dataCols = ['sowRL_Plt1', 'sowRL_Plt2', 'sowRL_Plt3',
       'harvestRL_Plt1', 'harvestRL_Plt2', 'harvestRL_Plt3',
       'ChangeRL_Plt1', 'ChangeRL_Plt2', 'ChangeRL_Plt3',
       'ChangeRL_mean', 'Stdry', 'Rtdry', 'Noplants',
       'Stdry_perP', 'Rtdry_perP']
for COL in dataCols:
    df_short[COL] = pd.to_numeric(df_short[COL], errors='coerce')

/var/folders/3d/zcjwrs111tvbmy_29php16r80000gr/T/ipykernel_5789/679549045.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_short[COL] = pd.to_numeric(df_short[COL], errors='coerce')

In [34]:
## calculate mean for root length
sowRL=['sowRL_Plt1', 'sowRL_Plt2', 'sowRL_Plt3']
harvestRL = ['harvestRL_Plt1', 'harvestRL_Plt2', 'harvestRL_Plt3']
# Calculate the mean of the columns in each list
df_short['sowRL_mean'] = df_short[sowRL].mean(axis=1, skipna=True)
df_short['harvestRL_mean'] = df_short[harvestRL].mean(axis=1, skipna=True)
df_short.head(2)

/var/folders/3d/zcjwrs111tvbmy_29php16r80000gr/T/ipykernel_5789/2725242492.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_short['sowRL_mean'] = df_short[sowRL].mean(axis=1, skipna=True)
/var/folders/3d/zcjwrs111tvbmy_29php16r80000gr/T/ipykernel_5789/2725242492.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_short['harvestRL_mean'] = df_short[harvestRL].mean(axis=1, skipna=True)

,Treatment,NorthamID,Rep,sowRL_Plt1,sowRL_Plt2,sowRL_Plt3,harvestRL_Plt1,harvestRL_Plt2,harvestRL_Plt3,ChangeRL_Plt1,ChangeRL_Plt2,ChangeRL_Plt3,ChangeRL_mean,Stdry,Rtdry,Noplants,Stdry_perP,Rtdry_perP,sowRL_mean,harvestRL_mean
0,Control,24030,1,38.0,34.0,21.0,250.0,NaN,260.0,212.0,NaN,239.0,225.5,0.289,0.138,2.0,0.1445,0.0690,31.0,255.0
1,Control,3002,1,17.0,34.0,21.0,210.0,220.0,NaN,193.0,186.0,NaN,189.5,0.290,0.203,2.0,0.1450,0.1015,24.0,215.0

In [35]:
## calculate RTI and its mean
# Perform division and handle potential division by zero or NaN values
# We use numpy to handle the division to avoid division by zero and manage NaNs
df_short['RTI1'] = np.divide(df_short['harvestRL_Plt1'], df_short['sowRL_Plt1'])
df_short['RTI2'] = np.divide(df_short['harvestRL_Plt2'], df_short['sowRL_Plt2'])
df_short['RTI3'] = np.divide(df_short['harvestRL_Plt3'], df_short['sowRL_Plt3'])

RTI = ['RTI1','RTI2','RTI3']
df_short['RTI_mean'] = df_short[RTI].mean(axis=1, skipna=True)
df_short.head(2)

/var/folders/3d/zcjwrs111tvbmy_29php16r80000gr/T/ipykernel_5789/366411784.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_short['RTI1'] = np.divide(df_short['harvestRL_Plt1'], df_short['sowRL_Plt1'])
/var/folders/3d/zcjwrs111tvbmy_29php16r80000gr/T/ipykernel_5789/366411784.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_short['RTI2'] = np.divide(df_short['harvestRL_Plt2'], df_short['sowRL_Plt2'])
/var/folders/3d/zcjwrs111tvbmy_29php16r80000gr/T/ipykernel_5789/366411784.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_short['RTI3'] = np.divide(df_short['harvestRL_Plt3'], df_short['sowRL_Plt3'])
/var/folders/3d/zcjwrs111tvbmy_29php16r80000gr/T/ipykernel_5789/366411784.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_short['RTI_mean'] = df_short[RTI].mean(axis=1, skipna=True)

,Treatment,NorthamID,Rep,sowRL_Plt1,sowRL_Plt2,sowRL_Plt3,harvestRL_Plt1,harvestRL_Plt2,harvestRL_Plt3,ChangeRL_Plt1,...,Rtdry,Noplants,Stdry_perP,Rtdry_perP,sowRL_mean,harvestRL_mean,RTI1,RTI2,RTI3,RTI_mean
0,Control,24030,1,38.0,34.0,21.0,250.0,NaN,260.0,212.0,...,0.138,2.0,0.1445,0.0690,31.0,255.0,6.578947,NaN,12.380952,9.479950
1,Control,3002,1,17.0,34.0,21.0,210.0,220.0,NaN,193.0,...,0.203,2.0,0.1450,0.1015,24.0,215.0,12.352941,6.470588,NaN,9.411765

In [36]:
df_short.columns

Index(['Treatment', 'NorthamID', 'Rep', 'sowRL_Plt1', 'sowRL_Plt2',
       'sowRL_Plt3', 'harvestRL_Plt1', 'harvestRL_Plt2', 'harvestRL_Plt3',
       'ChangeRL_Plt1', 'ChangeRL_Plt2', 'ChangeRL_Plt3', 'ChangeRL_mean',
       'Stdry', 'Rtdry', 'Noplants', 'Stdry_perP', 'Rtdry_perP', 'sowRL_mean',
       'harvestRL_mean', 'RTI1', 'RTI2', 'RTI3', 'RTI_mean'],
      dtype='object')

In [40]:
dfclean.head()

,Treatment,NorthamID,sowRL_mean,harvestRL_mean,RTI_mean,ChangeRL_mean,Stdry_perP,Rtdry_perP
0,Control,24030,31.000000,255.000000,9.479950,225.500000,0.144500,0.069000
1,Control,3002,24.000000,215.000000,9.411765,189.500000,0.145000,0.101500
2,Control,14024,31.333333,213.333333,7.254902,182.000000,0.186333,0.129667
3,Control,9002,39.666667,320.000000,8.682522,280.333333,0.225333,0.132333
4,Control,9022,35.666667,196.666667,5.561661,161.000000,0.119667,0.071333

In [41]:
dfclean.dtypes

Treatment          object
NorthamID          object
sowRL_mean        float64
harvestRL_mean    float64
RTI_mean          float64
ChangeRL_mean     float64
Stdry_perP        float64
Rtdry_perP        float64
dtype: object

In [42]:
## drop non-relevant columns
df_short['NorthamID'] = df_short['NorthamID'].astype(str) ## ID as strings
keyCols = ['Treatment', 'NorthamID', 'sowRL_mean', 'harvestRL_mean', 'RTI_mean',
           'ChangeRL_mean', 'Stdry_perP', 'Rtdry_perP']
dfclean = df_short[keyCols]

## calculate mean for three reps
dfcleanGroup = dfclean.groupby(by = ['Treatment', 'NorthamID']).mean().reset_index()

dfcleanGroup.head()

/var/folders/3d/zcjwrs111tvbmy_29php16r80000gr/T/ipykernel_5789/2641932184.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_short['NorthamID'] = df_short['NorthamID'].astype(str) ## ID as strings

,Treatment,NorthamID,sowRL_mean,harvestRL_mean,RTI_mean,ChangeRL_mean,Stdry_perP,Rtdry_perP
0,150 Mn,10001,31.333333,165.277778,5.061009,131.944444,0.130500,0.067556
1,150 Mn,10002,40.555556,160.000000,4.753189,119.444444,0.108222,0.055444
2,150 Mn,10003,44.222222,195.333333,4.738519,151.111111,0.111778,0.050444
3,150 Mn,10004,43.111111,190.555556,5.566289,150.222222,0.176333,0.075333
4,150 Mn,10005,33.000000,187.222222,8.182383,154.222222,0.114333,0.056889

In [44]:
## simplify treatment name
# Replace strings using a dictionary
replacements = {
    '150 Mn': 'Mn',
    'Control': 'Ctl'
}

dfcleanGroup['Treatment'] = dfcleanGroup['Treatment'].replace(replacements, regex=True)
dfcleanGroup['Treatment'].value_counts()

Mn     189
Ctl    189
Name: Treatment, dtype: int64

In [45]:
dfcleanGroup.head(2)

,Treatment,NorthamID,sowRL_mean,harvestRL_mean,RTI_mean,ChangeRL_mean,Stdry_perP,Rtdry_perP
0,Mn,10001,31.333333,165.277778,5.061009,131.944444,0.130500,0.067556
1,Mn,10002,40.555556,160.000000,4.753189,119.444444,0.108222,0.055444

In [46]:
# Pivot the DataFrame
pivot_df = dfcleanGroup.pivot(index='NorthamID', columns='Treatment')

# Flatten the MultiIndex columns
pivot_df.columns = ['_'.join(col).strip() for col in pivot_df.columns.values]

# Reset index to make 'Sample_ID' a column again
pivot_df.reset_index(inplace=True)
pivot_df.head()

,NorthamID,sowRL_mean_Ctl,sowRL_mean_Mn,harvestRL_mean_Ctl,harvestRL_mean_Mn,RTI_mean_Ctl,RTI_mean_Mn,ChangeRL_mean_Ctl,ChangeRL_mean_Mn,Stdry_perP_Ctl,Stdry_perP_Mn,Rtdry_perP_Ctl,Rtdry_perP_Mn
0,10001,34.777778,31.333333,220.000000,165.277778,6.040745,5.061009,183.666667,131.944444,0.203500,0.130500,0.111833,0.067556
1,10002,36.777778,40.555556,260.555556,160.000000,8.277555,4.753189,223.777778,119.444444,0.141444,0.108222,0.081778,0.055444
2,10003,35.000000,44.222222,248.888889,195.333333,6.842984,4.738519,212.444444,151.111111,0.148111,0.111778,0.076222,0.050444
3,10004,45.222222,43.111111,275.166667,190.555556,6.832543,5.566289,229.611111,150.222222,0.171944,0.176333,0.090222,0.075333
4,10005,38.666667,33.000000,261.944444,187.222222,7.623248,8.182383,222.277778,154.222222,0.153556,0.114333,0.083444,0.056889

In [49]:
pivot_df['RRL'] = np.divide(pivot_df['harvestRL_mean_Mn'], pivot_df['harvestRL_mean_Ctl'])
pivot_df['RRTI'] = np.divide(pivot_df['RTI_mean_Mn'], pivot_df['RTI_mean_Ctl'])
pivot_df['RRtdry'] = np.divide(pivot_df['Rtdry_perP_Mn'], pivot_df['Rtdry_perP_Ctl'])
pivot_df['RStdry'] = np.divide(pivot_df['Stdry_perP_Mn'], pivot_df['Stdry_perP_Ctl'])
pivot_df.head()

,NorthamID,sowRL_mean_Ctl,sowRL_mean_Mn,harvestRL_mean_Ctl,harvestRL_mean_Mn,RTI_mean_Ctl,RTI_mean_Mn,ChangeRL_mean_Ctl,ChangeRL_mean_Mn,Stdry_perP_Ctl,Stdry_perP_Mn,Rtdry_perP_Ctl,Rtdry_perP_Mn,RRL,RRTI,RRtdry,RStdry
0,10001,34.777778,31.333333,220.000000,165.277778,6.040745,5.061009,183.666667,131.944444,0.203500,0.130500,0.111833,0.067556,0.751263,0.837812,0.604074,0.641278
1,10002,36.777778,40.555556,260.555556,160.000000,8.277555,4.753189,223.777778,119.444444,0.141444,0.108222,0.081778,0.055444,0.614072,0.574226,0.677989,0.765122
2,10003,35.000000,44.222222,248.888889,195.333333,6.842984,4.738519,212.444444,151.111111,0.148111,0.111778,0.076222,0.050444,0.784821,0.692464,0.661808,0.754689
3,10004,45.222222,43.111111,275.166667,190.555556,6.832543,5.566289,229.611111,150.222222,0.171944,0.176333,0.090222,0.075333,0.692510,0.814673,0.834975,1.025525
4,10005,38.666667,33.000000,261.944444,187.222222,7.623248,8.182383,222.277778,154.222222,0.153556,0.114333,0.083444,0.056889,0.714740,1.073346,0.681758,0.744573

In [50]:
pivot_df.to_csv("Karthika_Mn_exp1_phenotype.csv",index=False)

## Experiment2

In [53]:
## read raw data
df=pd.read_excel("Exp1,2 and 3 raw data.xlsx",
                 sheet_name='Exp2_raw data',header=0)
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x) ## remove hiden spaces

## remove non-relevant columns
COLs = ['Treatment', 'Northam ID', 'Rep', 'sowRL_Plt1', 'sowRL_Plt2', 'sowRL_Plt3',
       'harvestRL_Plt1', 'harvestRL_Plt2', 'harvestRL_Plt3',
       'Change in RL_Plt1', 'Change in RL_Plt2', 'Change in RL_Plt3',
       'Mean Change in RL', 'Shoot dry wt', 'Root dry wt', 'No of plants',
       'Stdry/plt', 'Rtdry/plt']
df_short = df[COLs]

## remove spaces in column names
df_short.columns = ['Treatment', 'NorthamID', 'Rep', 'sowRL_Plt1', 'sowRL_Plt2', 'sowRL_Plt3',
       'harvestRL_Plt1', 'harvestRL_Plt2', 'harvestRL_Plt3',
       'ChangeRL_Plt1', 'ChangeRL_Plt2', 'ChangeRL_Plt3',
       'ChangeRL_mean', 'Stdry', 'Rtdry', 'Noplants',
       'Stdry_perP', 'Rtdry_perP']

## convert data columns to numeric values
dataCols = ['sowRL_Plt1', 'sowRL_Plt2', 'sowRL_Plt3',
       'harvestRL_Plt1', 'harvestRL_Plt2', 'harvestRL_Plt3',
       'ChangeRL_Plt1', 'ChangeRL_Plt2', 'ChangeRL_Plt3',
       'ChangeRL_mean', 'Stdry', 'Rtdry', 'Noplants',
       'Stdry_perP', 'Rtdry_perP']
for COL in dataCols:
    df_short[COL] = pd.to_numeric(df_short[COL], errors='coerce')
    
## calculate mean for root length
sowRL=['sowRL_Plt1', 'sowRL_Plt2', 'sowRL_Plt3']
harvestRL = ['harvestRL_Plt1', 'harvestRL_Plt2', 'harvestRL_Plt3']
# Calculate the mean of the columns in each list
df_short['sowRL_mean'] = df_short[sowRL].mean(axis=1, skipna=True)
df_short['harvestRL_mean'] = df_short[harvestRL].mean(axis=1, skipna=True)

## calculate RTI
# Perform division and handle potential division by zero or NaN values
# We use numpy to handle the division to avoid division by zero and manage NaNs
df_short['RTI1'] = np.divide(df_short['harvestRL_Plt1'], df_short['sowRL_Plt1'])
df_short['RTI2'] = np.divide(df_short['harvestRL_Plt2'], df_short['sowRL_Plt2'])
df_short['RTI3'] = np.divide(df_short['harvestRL_Plt3'], df_short['sowRL_Plt3'])

## calculate RTI mean
RTI = ['RTI1','RTI2','RTI3']
df_short['RTI_mean'] = df_short[RTI].mean(axis=1, skipna=True)

## drop non-relevant columns
df_short['NorthamID'] = df_short['NorthamID'].astype(str) ## ID as strings
keyCols = ['Treatment', 'NorthamID', 'sowRL_mean', 'harvestRL_mean', 'RTI_mean',
           'ChangeRL_mean', 'Stdry_perP', 'Rtdry_perP']
dfclean = df_short[keyCols]

## calculate mean for three reps
dfcleanGroup = dfclean.groupby(by = ['Treatment', 'NorthamID']).mean().reset_index()


## simplify treatment name
# Replace strings using a dictionary
replacements = {
    '150 Mn': 'Mn',
    'Control': 'Ctl'
}

dfcleanGroup['Treatment'] = dfcleanGroup['Treatment'].replace(replacements, regex=True)
dfcleanGroup['Treatment'].value_counts()

# Pivot the DataFrame
pivot_df = dfcleanGroup.pivot(index='NorthamID', columns='Treatment')

# Flatten the MultiIndex columns
pivot_df.columns = ['_'.join(col).strip() for col in pivot_df.columns.values]

# Reset index to make 'Sample_ID' a column again
pivot_df.reset_index(inplace=True)

## calculate relative R traits
pivot_df['RRL'] = np.divide(pivot_df['harvestRL_mean_Mn'], pivot_df['harvestRL_mean_Ctl'])
pivot_df['RRTI'] = np.divide(pivot_df['RTI_mean_Mn'], pivot_df['RTI_mean_Ctl'])
pivot_df['RRtdry'] = np.divide(pivot_df['Rtdry_perP_Mn'], pivot_df['Rtdry_perP_Ctl'])
pivot_df['RStdry'] = np.divide(pivot_df['Stdry_perP_Mn'], pivot_df['Stdry_perP_Ctl'])

## save phenotype
pivot_df.to_csv("Karthika_Mn_exp2_phenotype.csv",index=False)

/var/folders/3d/zcjwrs111tvbmy_29php16r80000gr/T/ipykernel_5789/2357932871.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_short[COL] = pd.to_numeric(df_short[COL], errors='coerce')
/var/folders/3d/zcjwrs111tvbmy_29php16r80000gr/T/ipykernel_5789/2357932871.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_short['sowRL_mean'] = df_short[sowRL].mean(axis=1, skipna=True)
/var/folders/3d/zcjwrs111tvbmy_29php16r80000gr/T/ipykernel_5789/2357932871.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_short['harvestRL_mean'] = df_short[harvestRL].mean(axis=1, skipna=True)
/var/folders/3d/zcjwrs111tvbmy_29php16r80000gr/T/ipykernel_5789/2357932871.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_short['RTI1'] = np.divide(df_short['harvestRL_Plt1'], df_short['sowRL_Plt1'])
/var/folders/3d/zcjwrs111tvbmy_29php16r80000gr/T/ipykernel_5789/2357932871.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_short['RTI2'] = np.divide(df_short['harvestRL_Plt2'], df_short['sowRL_Plt2'])
/var/folders/3d/zcjwrs111tvbmy_29php16r80000gr/T/ipykernel_5789/2357932871.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_short['RTI3'] = np.divide(df_short['harvestRL_Plt3'], df_short['sowRL_Plt3'])

## Experiment3

In [56]:
## read raw data
df=pd.read_excel("Exp1,2 and 3 raw data.xlsx",
                 sheet_name='Exp3_raw data',header=0)
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x) ## remove hiden spaces

## remove non-relevant columns
COLs = ['Treatment', 'Northam ID', 'Rep', 'sowRL_Plt1', 'sowRL_Plt2', 'sowRL_Plt3',
       'harvestRL_Plt1', 'harvestRL_Plt2', 'harvestRL_Plt3',
       'Change in RL_Plt1', 'Change in RL_Plt2', 'Change in RL_Plt3',
       'Mean Change in RL', 'Shoot dry wt', 'Root dry wt', 'No of plants',
       'Stdry/plt', 'Rtdry/plt']
df_short = df[COLs]

## remove spaces in column names
df_short.columns = ['Treatment', 'NorthamID', 'Rep', 'sowRL_Plt1', 'sowRL_Plt2', 'sowRL_Plt3',
       'harvestRL_Plt1', 'harvestRL_Plt2', 'harvestRL_Plt3',
       'ChangeRL_Plt1', 'ChangeRL_Plt2', 'ChangeRL_Plt3',
       'ChangeRL_mean', 'Stdry', 'Rtdry', 'Noplants',
       'Stdry_perP', 'Rtdry_perP']

## convert data columns to numeric values
dataCols = ['sowRL_Plt1', 'sowRL_Plt2', 'sowRL_Plt3',
       'harvestRL_Plt1', 'harvestRL_Plt2', 'harvestRL_Plt3',
       'ChangeRL_Plt1', 'ChangeRL_Plt2', 'ChangeRL_Plt3',
       'ChangeRL_mean', 'Stdry', 'Rtdry', 'Noplants',
       'Stdry_perP', 'Rtdry_perP']
for COL in dataCols:
    df_short[COL] = pd.to_numeric(df_short[COL], errors='coerce')
    
## calculate mean for root length
sowRL=['sowRL_Plt1', 'sowRL_Plt2', 'sowRL_Plt3']
harvestRL = ['harvestRL_Plt1', 'harvestRL_Plt2', 'harvestRL_Plt3']
# Calculate the mean of the columns in each list
df_short['sowRL_mean'] = df_short[sowRL].mean(axis=1, skipna=True)
df_short['harvestRL_mean'] = df_short[harvestRL].mean(axis=1, skipna=True)

## calculate RTI
# Perform division and handle potential division by zero or NaN values
# We use numpy to handle the division to avoid division by zero and manage NaNs
df_short['RTI1'] = np.divide(df_short['harvestRL_Plt1'], df_short['sowRL_Plt1'])
df_short['RTI2'] = np.divide(df_short['harvestRL_Plt2'], df_short['sowRL_Plt2'])
df_short['RTI3'] = np.divide(df_short['harvestRL_Plt3'], df_short['sowRL_Plt3'])

## calculate RTI mean
RTI = ['RTI1','RTI2','RTI3']
df_short['RTI_mean'] = df_short[RTI].mean(axis=1, skipna=True)

## drop non-relevant columns
df_short['NorthamID'] = df_short['NorthamID'].astype(str) ## ID as strings
keyCols = ['Treatment', 'NorthamID', 'sowRL_mean', 'harvestRL_mean', 'RTI_mean',
           'ChangeRL_mean', 'Stdry_perP', 'Rtdry_perP']
dfclean = df_short[keyCols]

## calculate mean for three reps
dfcleanGroup = dfclean.groupby(by = ['Treatment', 'NorthamID']).mean().reset_index()


## simplify treatment name
# Replace strings using a dictionary
replacements = {
    '150 Mn': 'Mn',
    'Control': 'Ctl'
}

dfcleanGroup['Treatment'] = dfcleanGroup['Treatment'].replace(replacements, regex=True)
dfcleanGroup['Treatment'].value_counts()

# Pivot the DataFrame
pivot_df = dfcleanGroup.pivot(index='NorthamID', columns='Treatment')

# Flatten the MultiIndex columns
pivot_df.columns = ['_'.join(col).strip() for col in pivot_df.columns.values]

# Reset index to make 'Sample_ID' a column again
pivot_df.reset_index(inplace=True)

## calculate relative R traits
pivot_df['RRL'] = np.divide(pivot_df['harvestRL_mean_Mn'], pivot_df['harvestRL_mean_Ctl'])
pivot_df['RRTI'] = np.divide(pivot_df['RTI_mean_Mn'], pivot_df['RTI_mean_Ctl'])
pivot_df['RRtdry'] = np.divide(pivot_df['Rtdry_perP_Mn'], pivot_df['Rtdry_perP_Ctl'])
pivot_df['RStdry'] = np.divide(pivot_df['Stdry_perP_Mn'], pivot_df['Stdry_perP_Ctl'])

## save phenotype
pivot_df.to_csv("Karthika_Mn_exp3_phenotype.csv",index=False)

/var/folders/3d/zcjwrs111tvbmy_29php16r80000gr/T/ipykernel_5789/1851376485.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_short[COL] = pd.to_numeric(df_short[COL], errors='coerce')
/var/folders/3d/zcjwrs111tvbmy_29php16r80000gr/T/ipykernel_5789/1851376485.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_short['sowRL_mean'] = df_short[sowRL].mean(axis=1, skipna=True)
/var/folders/3d/zcjwrs111tvbmy_29php16r80000gr/T/ipykernel_5789/1851376485.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_short['harvestRL_mean'] = df_short[harvestRL].mean(axis=1, skipna=True)
/var/folders/3d/zcjwrs111tvbmy_29php16r80000gr/T/ipykernel_5789/1851376485.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_short['RTI1'] = np.divide(df_short['harvestRL_Plt1'], df_short['sowRL_Plt1'])
/var/folders/3d/zcjwrs111tvbmy_29php16r80000gr/T/ipykernel_5789/1851376485.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_short['RTI2'] = np.divide(df_short['harvestRL_Plt2'], df_short['sowRL_Plt2'])
/var/folders/3d/zcjwrs111tvbmy_29php16r80000gr/T/ipykernel_5789/1851376485.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_short['RTI3'] = np.divide(df_short['harvestRL_Plt3'], df_short['sowRL_Plt3'])

## scale data based on overlapping lines

In [61]:
## generate all pairs for 6 groups
from itertools import combinations
from scipy import stats
from scipy.stats import zscore

In [57]:
df1 = pd.read_csv("Karthika_Mn_exp1_phenotype.csv",header=0)
df2 = pd.read_csv("Karthika_Mn_exp2_phenotype.csv",header=0)
df3 = pd.read_csv("Karthika_Mn_exp3_phenotype.csv",header=0)
df1.head()

,NorthamID,sowRL_mean_Ctl,sowRL_mean_Mn,harvestRL_mean_Ctl,harvestRL_mean_Mn,RTI_mean_Ctl,RTI_mean_Mn,ChangeRL_mean_Ctl,ChangeRL_mean_Mn,Stdry_perP_Ctl,Stdry_perP_Mn,Rtdry_perP_Ctl,Rtdry_perP_Mn,RRL,RRTI,RRtdry,RStdry
0,10001,34.777778,31.333333,220.000000,165.277778,6.040745,5.061009,183.666667,131.944444,0.203500,0.130500,0.111833,0.067556,0.751263,0.837812,0.604074,0.641278
1,10002,36.777778,40.555556,260.555556,160.000000,8.277555,4.753189,223.777778,119.444444,0.141444,0.108222,0.081778,0.055444,0.614072,0.574226,0.677989,0.765122
2,10003,35.000000,44.222222,248.888889,195.333333,6.842984,4.738519,212.444444,151.111111,0.148111,0.111778,0.076222,0.050444,0.784821,0.692464,0.661808,0.754689
3,10004,45.222222,43.111111,275.166667,190.555556,6.832543,5.566289,229.611111,150.222222,0.171944,0.176333,0.090222,0.075333,0.692510,0.814673,0.834975,1.025525
4,10005,38.666667,33.000000,261.944444,187.222222,7.623248,8.182383,222.277778,154.222222,0.153556,0.114333,0.083444,0.056889,0.714740,1.073346,0.681758,0.744573

In [58]:
## add experiment column
df1['Group'] = "Exp1"
df2['Group'] = "Exp2"
df3['Group'] = "Exp3"
df1.columns.to_list()

['NorthamID',
 'sowRL_mean_Ctl',
 'sowRL_mean_Mn',
 'harvestRL_mean_Ctl',
 'harvestRL_mean_Mn',
 'RTI_mean_Ctl',
 'RTI_mean_Mn',
 'ChangeRL_mean_Ctl',
 'ChangeRL_mean_Mn',
 'Stdry_perP_Ctl',
 'Stdry_perP_Mn',
 'Rtdry_perP_Ctl',
 'Rtdry_perP_Mn',
 'RRL',
 'RRTI',
 'RRtdry',
 'RStdry',
 'Group']

In [59]:
orderCols = ['Group',
    'NorthamID',
 'sowRL_mean_Ctl',
 'sowRL_mean_Mn',
 'harvestRL_mean_Ctl',
 'harvestRL_mean_Mn',
 'RTI_mean_Ctl',
 'RTI_mean_Mn',
 'ChangeRL_mean_Ctl',
 'ChangeRL_mean_Mn',
 'Stdry_perP_Ctl',
 'Stdry_perP_Mn',
 'Rtdry_perP_Ctl',
 'Rtdry_perP_Mn',
 'RRL',
 'RRTI',
 'RRtdry',
 'RStdry']
df1 = df1[orderCols]
df2 = df2[orderCols]
df3 = df3[orderCols]

,Group,NorthamID,sowRL_mean_Ctl,sowRL_mean_Mn,harvestRL_mean_Ctl,harvestRL_mean_Mn,RTI_mean_Ctl,RTI_mean_Mn,ChangeRL_mean_Ctl,ChangeRL_mean_Mn,Stdry_perP_Ctl,Stdry_perP_Mn,Rtdry_perP_Ctl,Rtdry_perP_Mn,RRL,RRTI,RRtdry,RStdry
0,Exp1,10001,34.777778,31.333333,220.000000,165.277778,6.040745,5.061009,183.666667,131.944444,0.203500,0.130500,0.111833,0.067556,0.751263,0.837812,0.604074,0.641278
1,Exp1,10002,36.777778,40.555556,260.555556,160.000000,8.277555,4.753189,223.777778,119.444444,0.141444,0.108222,0.081778,0.055444,0.614072,0.574226,0.677989,0.765122
2,Exp1,10003,35.000000,44.222222,248.888889,195.333333,6.842984,4.738519,212.444444,151.111111,0.148111,0.111778,0.076222,0.050444,0.784821,0.692464,0.661808,0.754689
3,Exp1,10004,45.222222,43.111111,275.166667,190.555556,6.832543,5.566289,229.611111,150.222222,0.171944,0.176333,0.090222,0.075333,0.692510,0.814673,0.834975,1.025525
4,Exp1,10005,38.666667,33.000000,261.944444,187.222222,7.623248,8.182383,222.277778,154.222222,0.153556,0.114333,0.083444,0.056889,0.714740,1.073346,0.681758,0.744573

In [60]:
## join three experiments
# Concatenate DataFrames vertically (default axis=0)
df_merged = pd.concat([df1, df2, df3], ignore_index=True)
df_merged['NorthamID'] = df_merged['NorthamID'].astype(str) ## ID as strings
df_merged.head()

,Group,NorthamID,sowRL_mean_Ctl,sowRL_mean_Mn,harvestRL_mean_Ctl,harvestRL_mean_Mn,RTI_mean_Ctl,RTI_mean_Mn,ChangeRL_mean_Ctl,ChangeRL_mean_Mn,Stdry_perP_Ctl,Stdry_perP_Mn,Rtdry_perP_Ctl,Rtdry_perP_Mn,RRL,RRTI,RRtdry,RStdry
0,Exp1,10001,34.777778,31.333333,220.000000,165.277778,6.040745,5.061009,183.666667,131.944444,0.203500,0.130500,0.111833,0.067556,0.751263,0.837812,0.604074,0.641278
1,Exp1,10002,36.777778,40.555556,260.555556,160.000000,8.277555,4.753189,223.777778,119.444444,0.141444,0.108222,0.081778,0.055444,0.614072,0.574226,0.677989,0.765122
2,Exp1,10003,35.000000,44.222222,248.888889,195.333333,6.842984,4.738519,212.444444,151.111111,0.148111,0.111778,0.076222,0.050444,0.784821,0.692464,0.661808,0.754689
3,Exp1,10004,45.222222,43.111111,275.166667,190.555556,6.832543,5.566289,229.611111,150.222222,0.171944,0.176333,0.090222,0.075333,0.692510,0.814673,0.834975,1.025525
4,Exp1,10005,38.666667,33.000000,261.944444,187.222222,7.623248,8.182383,222.277778,154.222222,0.153556,0.114333,0.083444,0.056889,0.714740,1.073346,0.681758,0.744573

In [71]:
# Check for trailing spaces using str.endswith
trailing_spaces_mask = df_merged['NorthamID'].str.startswith(' ')

# Count the number of rows with trailing spaces
trailing_spaces_mask.sum()

0

In [ ]:
df_merged = df_merged.applymap(lambda x: x.strip() if isinstance(x, str) else x) ## remove hiden spaces

In [67]:
df_merged.to_csv("Karthika_Mn_threeExp_phenotype.csv",index=False)

In [62]:
group_list = ['Exp1','Exp2','Exp3']
res = list(combinations(group_list, 2))
res

[('Exp1', 'Exp2'), ('Exp1', 'Exp3'), ('Exp2', 'Exp3')]

In [77]:
## check replicates in each group
group_dict = {}
for group in group_list:
    ID = df_merged[df_merged['Group'] == group]['NorthamID'].to_list()
    UID = list(set(ID))
    print(group, len(ID),len(UID)) ## group name, total lines, unique lines
    group_dict[group] = UID

Exp1 189 189
Exp2 216 216
Exp3 216 216

In [78]:
## count overlap between group pairs
def intersection(lst1, lst2):
    lst3 = [value for value in lst1 if value in lst2]
    return lst3

for pair in res:
    I = pair[0]
    J = pair[1]
    OVERLAP = intersection(group_dict[I],group_dict[J])
    print(I,J, len(OVERLAP))

Exp1 Exp2 41
Exp1 Exp3 40
Exp2 Exp3 40

In [79]:
df_merged.columns.to_list()

['Group',
 'NorthamID',
 'sowRL_mean_Ctl',
 'sowRL_mean_Mn',
 'harvestRL_mean_Ctl',
 'harvestRL_mean_Mn',
 'RTI_mean_Ctl',
 'RTI_mean_Mn',
 'ChangeRL_mean_Ctl',
 'ChangeRL_mean_Mn',
 'Stdry_perP_Ctl',
 'Stdry_perP_Mn',
 'Rtdry_perP_Ctl',
 'Rtdry_perP_Mn',
 'RRL',
 'RRTI',
 'RRtdry',
 'RStdry']

In [80]:
## rename NorthamID to ACCNAME to use old codes
cols = ['Group',
 'ACCNAME',
 'sowRL_mean_Ctl',
 'sowRL_mean_Mn',
 'harvestRL_mean_Ctl',
 'harvestRL_mean_Mn',
 'RTI_mean_Ctl',
 'RTI_mean_Mn',
 'ChangeRL_mean_Ctl',
 'ChangeRL_mean_Mn',
 'Stdry_perP_Ctl',
 'Stdry_perP_Mn',
 'Rtdry_perP_Ctl',
 'Rtdry_perP_Mn',
 'RRL',
 'RRTI',
 'RRtdry',
 'RStdry']
df_merged.columns = cols

In [81]:
## all group compared to G1, leave out G3 which has no overlap with others
# Step1: groupby for each group to account for replicates in each group
# Step2: plot overlapping lines between groups, check for consistence in overlapping lines
# Step3: calculate ratio between groups
# Step4: normalize value based on average ratio
cols = ['Group',
 'ACCNAME',
 'sowRL_mean_Ctl',
 'sowRL_mean_Mn',
 'harvestRL_mean_Ctl',
 'harvestRL_mean_Mn',
 'RTI_mean_Ctl',
 'RTI_mean_Mn',
 'ChangeRL_mean_Ctl',
 'ChangeRL_mean_Mn',
 'Stdry_perP_Ctl',
 'Stdry_perP_Mn',
 'Rtdry_perP_Ctl',
 'Rtdry_perP_Mn',
 'RRL',
 'RRTI',
 'RRtdry',
 'RStdry']

df_G1 = df_merged[df_merged['Group'] == 'Exp1']
df_G2 = df_merged[df_merged['Group'] == 'Exp2']
df_G3 = df_merged[df_merged['Group'] == 'Exp3']


## compare to G1
df_G1G2 = df_G1.merge(df_G2,on='ACCNAME',how='inner')
df_G1G3 = df_G1.merge(df_G3,on='ACCNAME',how='inner')

In [82]:
df_G1G2.head(2)

,Group_x,ACCNAME,sowRL_mean_Ctl_x,sowRL_mean_Mn_x,harvestRL_mean_Ctl_x,harvestRL_mean_Mn_x,RTI_mean_Ctl_x,RTI_mean_Mn_x,ChangeRL_mean_Ctl_x,ChangeRL_mean_Mn_x,...,ChangeRL_mean_Ctl_y,ChangeRL_mean_Mn_y,Stdry_perP_Ctl_y,Stdry_perP_Mn_y,Rtdry_perP_Ctl_y,Rtdry_perP_Mn_y,RRL_y,RRTI_y,RRtdry_y,RStdry_y
0,Exp1,10031,37.444444,34.222222,238.777778,190.277778,6.381405,6.647470,197.333333,152.611111,...,255.444444,244.944444,0.201722,0.177056,0.090611,0.084111,0.966699,1.253983,0.928265,0.87772
1,Exp1,11007,43.444444,38.666667,225.555556,193.333333,5.123976,7.660359,179.222222,154.666667,...,343.666667,203.666667,0.166000,0.140667,0.095000,0.052778,0.619677,0.615132,0.555556,0.84739

## across-group scaling adjustment
## zscore for each group
## merge

In [85]:
df_G1.head()

,Group,ACCNAME,sowRL_mean_Ctl,sowRL_mean_Mn,harvestRL_mean_Ctl,harvestRL_mean_Mn,RTI_mean_Ctl,RTI_mean_Mn,ChangeRL_mean_Ctl,ChangeRL_mean_Mn,Stdry_perP_Ctl,Stdry_perP_Mn,Rtdry_perP_Ctl,Rtdry_perP_Mn,RRL,RRTI,RRtdry,RStdry
0,Exp1,10001,34.777778,31.333333,220.000000,165.277778,6.040745,5.061009,183.666667,131.944444,0.203500,0.130500,0.111833,0.067556,0.751263,0.837812,0.604074,0.641278
1,Exp1,10002,36.777778,40.555556,260.555556,160.000000,8.277555,4.753189,223.777778,119.444444,0.141444,0.108222,0.081778,0.055444,0.614072,0.574226,0.677989,0.765122
2,Exp1,10003,35.000000,44.222222,248.888889,195.333333,6.842984,4.738519,212.444444,151.111111,0.148111,0.111778,0.076222,0.050444,0.784821,0.692464,0.661808,0.754689
3,Exp1,10004,45.222222,43.111111,275.166667,190.555556,6.832543,5.566289,229.611111,150.222222,0.171944,0.176333,0.090222,0.075333,0.692510,0.814673,0.834975,1.025525
4,Exp1,10005,38.666667,33.000000,261.944444,187.222222,7.623248,8.182383,222.277778,154.222222,0.153556,0.114333,0.083444,0.056889,0.714740,1.073346,0.681758,0.744573

In [86]:
## calculate ratio 
def cal_ratio(DF1,Trait):
    Y = Trait + "_y"
    X = Trait + "_x"
    ratios = DF1[Y] / DF1[X]
    return ratios.mean(), ratios.std()

# adjust G2, G3 to G1
Traits = ['sowRL_mean_Ctl',
 'sowRL_mean_Mn',
 'harvestRL_mean_Ctl',
 'harvestRL_mean_Mn',
 'RTI_mean_Ctl',
 'RTI_mean_Mn',
 'ChangeRL_mean_Ctl',
 'ChangeRL_mean_Mn',
 'Stdry_perP_Ctl',
 'Stdry_perP_Mn',
 'Rtdry_perP_Ctl',
 'Rtdry_perP_Mn',
 'RRL',
 'RRTI',
 'RRtdry',
 'RStdry']

for TRAIT in Traits:
    ## scale by average ratio
    df_G2[TRAIT] = df_G2[TRAIT] / cal_ratio(df_G1G2, TRAIT)[0]
    df_G3[TRAIT] = df_G3[TRAIT] / cal_ratio(df_G1G3, TRAIT)[0]

## merge adjusted value
## df_merged = pd.concat([df1, df2, df3], ignore_index=True)
df_adjust_merged = pd.concat([df_G1,df_G2,df_G3]).dropna().reset_index(drop=True)
df_adjust_merged.head()

/var/folders/3d/zcjwrs111tvbmy_29php16r80000gr/T/ipykernel_5789/1884433460.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_G2[TRAIT] = df_G2[TRAIT] / cal_ratio(df_G1G2, TRAIT)[0]
/var/folders/3d/zcjwrs111tvbmy_29php16r80000gr/T/ipykernel_5789/1884433460.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_G3[TRAIT] = df_G3[TRAIT] / cal_ratio(df_G1G3, TRAIT)[0]

,Group,ACCNAME,sowRL_mean_Ctl,sowRL_mean_Mn,harvestRL_mean_Ctl,harvestRL_mean_Mn,RTI_mean_Ctl,RTI_mean_Mn,ChangeRL_mean_Ctl,ChangeRL_mean_Mn,Stdry_perP_Ctl,Stdry_perP_Mn,Rtdry_perP_Ctl,Rtdry_perP_Mn,RRL,RRTI,RRtdry,RStdry
0,Exp1,10001,34.777778,31.333333,220.000000,165.277778,6.040745,5.061009,183.666667,131.944444,0.203500,0.130500,0.111833,0.067556,0.751263,0.837812,0.604074,0.641278
1,Exp1,10002,36.777778,40.555556,260.555556,160.000000,8.277555,4.753189,223.777778,119.444444,0.141444,0.108222,0.081778,0.055444,0.614072,0.574226,0.677989,0.765122
2,Exp1,10003,35.000000,44.222222,248.888889,195.333333,6.842984,4.738519,212.444444,151.111111,0.148111,0.111778,0.076222,0.050444,0.784821,0.692464,0.661808,0.754689
3,Exp1,10004,45.222222,43.111111,275.166667,190.555556,6.832543,5.566289,229.611111,150.222222,0.171944,0.176333,0.090222,0.075333,0.692510,0.814673,0.834975,1.025525
4,Exp1,10005,38.666667,33.000000,261.944444,187.222222,7.623248,8.182383,222.277778,154.222222,0.153556,0.114333,0.083444,0.056889,0.714740,1.073346,0.681758,0.744573

In [87]:
## zscore normalization
for TRAIT in Traits:
    df_adjust_merged[TRAIT] = stats.zscore(df_adjust_merged[TRAIT])

In [88]:
df_adjust_merged.head()

,Group,ACCNAME,sowRL_mean_Ctl,sowRL_mean_Mn,harvestRL_mean_Ctl,harvestRL_mean_Mn,RTI_mean_Ctl,RTI_mean_Mn,ChangeRL_mean_Ctl,ChangeRL_mean_Mn,Stdry_perP_Ctl,Stdry_perP_Mn,Rtdry_perP_Ctl,Rtdry_perP_Mn,RRL,RRTI,RRtdry,RStdry
0,Exp1,10001,0.111952,0.073783,-0.487763,-0.082717,-0.533411,-0.398518,-0.547644,-0.117825,0.401781,-0.153679,0.761137,0.359930,0.435112,0.088288,-0.479286,-1.038747
1,Exp1,10002,0.360444,1.121673,0.720570,-0.282071,0.160254,-0.493716,0.740961,-0.655435,-0.895956,-0.749606,-0.627519,-0.452240,-0.801179,-0.559517,0.266833,0.272578
2,Exp1,10003,0.139563,1.538304,0.372967,1.052554,-0.284626,-0.498253,0.376867,0.706509,-0.756539,-0.654495,-0.884203,-0.787540,0.737528,-0.268928,0.103493,0.162107
3,Exp1,10004,1.409631,1.412052,1.155901,0.872086,-0.287864,-0.242253,0.928362,0.668279,-0.258125,1.072354,-0.237361,0.881507,-0.094342,0.031421,1.851482,3.029860
4,Exp1,10005,0.595130,0.263160,0.761951,0.746178,-0.042656,0.566813,0.692772,0.840314,-0.642682,-0.586134,-0.550514,-0.355376,0.105990,0.667151,0.304873,0.054998

In [89]:
## calculate mean for overlapping lines
df_final = df_adjust_merged.groupby('ACCNAME').mean().reset_index()
df_final.head()

,ACCNAME,sowRL_mean_Ctl,sowRL_mean_Mn,harvestRL_mean_Ctl,harvestRL_mean_Mn,RTI_mean_Ctl,RTI_mean_Mn,ChangeRL_mean_Ctl,ChangeRL_mean_Mn,Stdry_perP_Ctl,Stdry_perP_Mn,Rtdry_perP_Ctl,Rtdry_perP_Mn,RRL,RRTI,RRtdry,RStdry
0,10001,0.111952,0.073783,-0.487763,-0.082717,-0.533411,-0.398518,-0.547644,-0.117825,0.401781,-0.153679,0.761137,0.359930,0.435112,0.088288,-0.479286,-1.038747
1,10002,0.360444,1.121673,0.720570,-0.282071,0.160254,-0.493716,0.740961,-0.655435,-0.895956,-0.749606,-0.627519,-0.452240,-0.801179,-0.559517,0.266833,0.272578
2,10003,0.139563,1.538304,0.372967,1.052554,-0.284626,-0.498253,0.376867,0.706509,-0.756539,-0.654495,-0.884203,-0.787540,0.737528,-0.268928,0.103493,0.162107
3,10004,1.409631,1.412052,1.155901,0.872086,-0.287864,-0.242253,0.928362,0.668279,-0.258125,1.072354,-0.237361,0.881507,-0.094342,0.031421,1.851482,3.029860
4,10005,0.595130,0.263160,0.761951,0.746178,-0.042656,0.566813,0.692772,0.840314,-0.642682,-0.586134,-0.550514,-0.355376,0.105990,0.667151,0.304873,0.054998

## match with genotype data

In [90]:
df_geno = pd.read_excel('geno_pheno_match.xlsx',sheet_name='geno_pheno_id',header=0)
df_geno = df_geno.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df_geno['plot_id'] = df_geno['plot_id'].astype(str)
df_geno.head()

,geno_id,geno,plot_id,category
0,Pulse.30K-0043-04-01|PBA-Hatrick,Pulse.30K-0043-04-01,PBA,cultivar
1,Pulse.30K-0043-20-02|1001-Almaz,Pulse.30K-0043-20-02,1001,cultivar
2,Pulse.30K-0043-20-03|1002-CBA-Captain,Pulse.30K-0043-20-03,1002,cultivar
3,Pulse.30K-0043-20-04|1003-Genesis-090,Pulse.30K-0043-20-04,1003,cultivar
4,Pulse.30K-0043-20-05|1004-Genesis-836,Pulse.30K-0043-20-05,1004,cultivar

In [92]:
df_final_geno = df_geno.merge(df_final,right_on='ACCNAME',
                         left_on='plot_id',how='inner')

df_final_geno.head()

,geno_id,geno,plot_id,category,ACCNAME,sowRL_mean_Ctl,sowRL_mean_Mn,harvestRL_mean_Ctl,harvestRL_mean_Mn,RTI_mean_Ctl,...,ChangeRL_mean_Ctl,ChangeRL_mean_Mn,Stdry_perP_Ctl,Stdry_perP_Mn,Rtdry_perP_Ctl,Rtdry_perP_Mn,RRL,RRTI,RRtdry,RStdry
0,Pulse.30K-0043-20-21|1020-CA22.DVRS,Pulse.30K-0043-20-21,1020,CA22.DVRS,1020,0.236198,-0.380724,1.035067,-1.190707,0.086106,...,1.106839,-1.178708,-1.819591,-1.901334,-2.203555,-1.555003,-1.816218,-0.523060,1.681964,-0.735648
1,Pulse.30K-0043-20-22|1021-CA22.DVRS,Pulse.30K-0043-20-22,1021,CA22.DVRS,1021,0.042927,0.351537,-0.347067,0.599285,-0.316061,...,-0.313839,0.639606,0.408751,1.470630,-0.042281,0.956018,1.016890,0.124963,1.593438,2.104480
2,Pulse.30K-0043-20-23|1022-CA22.DVRS,Pulse.30K-0043-20-23,1022,CA22.DVRS,1022,0.443275,0.604040,0.530216,-0.130981,-0.383772,...,0.423271,-0.299418,0.165934,0.794454,0.258038,0.743661,-0.520259,-0.128198,0.750675,1.312084
3,Pulse.30K-0043-20-24|1023-CA22.DVRS,Pulse.30K-0043-20-24,1023,CA22.DVRS,1023,0.401859,0.162159,-0.868470,0.142869,-0.658032,...,-1.075937,-0.179949,0.120624,0.695628,0.093761,0.808858,1.112281,0.262000,1.118966,1.210465
4,Pulse.30K-0043-20-26|1025-CA22.DVRS,Pulse.30K-0043-20-26,1025,CA22.DVRS,1025,0.981673,1.664556,-0.681427,1.081932,-0.203245,...,-0.934940,0.692173,1.173219,1.060466,1.831507,1.313670,1.942654,-0.208727,-0.462249,-0.081470

In [93]:
df_final_geno.shape

(534, 21)

In [94]:
df_final_geno.columns

Index(['geno_id', 'geno', 'plot_id', 'category', 'ACCNAME', 'sowRL_mean_Ctl',
       'sowRL_mean_Mn', 'harvestRL_mean_Ctl', 'harvestRL_mean_Mn',
       'RTI_mean_Ctl', 'RTI_mean_Mn', 'ChangeRL_mean_Ctl', 'ChangeRL_mean_Mn',
       'Stdry_perP_Ctl', 'Stdry_perP_Mn', 'Rtdry_perP_Ctl', 'Rtdry_perP_Mn',
       'RRL', 'RRTI', 'RRtdry', 'RStdry'],
      dtype='object')

In [95]:
df_final_geno.fillna("NA", inplace=True)

In [96]:
##OUTPUT phenotype files
traits = ['geno_id', 'sowRL_mean_Ctl',
       'sowRL_mean_Mn', 'harvestRL_mean_Ctl', 'harvestRL_mean_Mn',
       'RTI_mean_Ctl', 'RTI_mean_Mn', 'ChangeRL_mean_Ctl', 'ChangeRL_mean_Mn',
       'Stdry_perP_Ctl', 'Stdry_perP_Mn', 'Rtdry_perP_Ctl', 'Rtdry_perP_Mn',
       'RRL', 'RRTI', 'RRtdry', 'RStdry']

df_phenotype = df_final_geno[traits]
df_phenotype.to_csv('Karthika_Mn_threeExp.phenotype',sep='\t', index=None)

## read and extract genotype data

In [97]:
## read genotype vcf file
df_genotype = pd.read_csv("genotype.txt",delimiter='\t',header=0)
df_genotype.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,Pulse.30K-0043-04-01|PBA-Hatrick,...,Pulse.30K-0043-21-86|6018-CA22.DVRS,Pulse.30K-0043-21-87|6019-CA22.DVRS,Pulse.30K-0043-21-88|6020-CA22.DVRS,Pulse.30K-0043-21-89|PBA-Hatrick,Pulse.30K-0043-21-90|6021-CA22.DVRS,Pulse.30K-0043-21-91|6022-CA22.DVRS,Pulse.30K-0043-21-92|6023-CA22.DVRS,Pulse.30K-0043-21-93|6024-CA22.DVRS,Pulse.30K-0043-21-94|6025-CA22.DVRS,Pulse.30K-0043-21-95|6026-CA22.DVRS
0,1,1083977,AVR-Ca-00001.01-001083977,G,A,.,.,PR,GT,1|1,...,0|0,0|0,0|0,1|1,0|0,0|0,0|0,0|0,0|0,0|0
1,1,1084247,AVR-Ca-00002.01-001084247,T,C,.,.,PR,GT,1|1,...,0|0,0|0,0|0,1|1,0|0,0|0,0|0,0|0,0|0,0|0
2,1,10979744,AVR-Ca-00003.01-010979744,G,A,.,.,PR,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|1,0|0,0|1
3,1,11124297,AVR-Ca-00004.01-011124297,G,A,.,.,PR,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
4,1,11186437,AVR-Ca-00005.01-011186437,T,C,.,.,PR,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

In [98]:
## get the list of names of first 9 columns
first9cols = df_genotype.columns[0:9].to_list()
first9cols

['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', ' INFO', 'FORMAT']

In [99]:
## generate a geno_id list for target lines in phenotype data and subset the genotype data
IDS = df_final_geno['geno_id'].to_list()
    
# plus geno columns
cols = first9cols + IDS
    
# filter and output vcf for group
df_genotype[cols].to_csv('Karthika_Mn_threeExp.genotype', sep='\t',index=False)